.active {
  /* background: #4298F3 !important; */
}

.color-primary {
  color: #4298F3 !important;
}

.color-primary-bg {
  background-color: #4298F3 !important;
}

.color-primary-outline {
  border-color: #4298F3;
}

.swal2-container {
  z-index: 2000 !important;
}

.bg-wisata {
  background-size: cover;
  background-position: left;
  border-radius: 6px 0px 0px 6px;
}

@media only screen and (max-width: 600px) {
  .bg-wisata {
    min-height: 190px;
    border-radius: 6px 6px 0px 0px;
  }
}